/* body {
    margin: 0;
    font-family: monospace;
  } */
  
  body, html {
    height: 100%;
    margin-left: 90px;
  padding: 10px 10px;
  }

  .background {
    background-image: url("https://i.pinimg.com/originals/0a/94/46/0a9446e9eb1c2343888253bd20d751fc.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .sidenav {
    height: 500px;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 2px;
    background-color: rgba(125, 53, 31, 0.432);
    overflow: scroll; /* Disable horizontal scroll */
    padding-top: 20px;
    border-style: inset;
    border-color:rgb(245, 245, 108)
  }

  .sidenav h1 {
    padding: 0px 8px 6px 22px;
    text-decoration: none;
    font-size: 35px;
    color: #dfe21f;
    display: block;
    text-decoration: underline;
  }

  .header-img {
    width: 105%;
    height: 130px;
    background: url(images/logo.png);
    background-size: cover;
  }

  .main-header{
    /* text-align: center; */
    /* background-color: gray; */
    opacity: 0.7;
    padding: 0px 185px 6px 0px;
    width: 800px;
    margin: auto;
    /* border: 3px res solid; */
  }

  #header-text{
      color: yellow;
      opacity: 1;
      font-size: 40px;
      /* font-family: serif; */
      
  }
  .all-comics {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
  }
  
  #all-button{
    color: yellow;
    transition: .1s;
  }

  #all-button:hover{
    color:#807a15
  }

  #genre-button{
    color: yellow;
    transition: .1s;
  }

  #genre-button:hover{
    color:#807a15
  }


  .all-comics img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .all-comics img:last-child {
    margin-right: 0;
  }

  .comic-container {
    position: relative;
  }

  .comic-image {
     height: 350px;
     position: relative;
  }

  section#subnav {
    padding: 20px;
    width: 90%;
    margin: 40px auto;
  }

  #subnav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #subnav ul li {
    list-style: none;
    background:rgb(245, 245, 108);
    color: #111 !important;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  #subnav ul li.active {
    background: #03a9f4;
    color: #fff !important;
  }

#one-comic{
  width: 550px;
  margin: 40px auto;
  background-color: #8b432be7;
  color: rgb(216, 204, 127);
  overflow: hidden;
  box-shadow: 15px 15px 0 0 rgba(236, 228, 118, 0.767);
}
.name{
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #6698e4a1;
  animation: fadein 1.2s;
}
  
.comic-image{
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    z-index: 1;
    animation: grow 0.6s;
}   
.bio{
  position: relative;
  margin: 20px;
  font-family: Merriweather Sans;
  animation: slidein 1.2s;
}

.header-buttons a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 26px;
  line-height: 25px;
  border-radius: 4px;
}
      
.heart{
  color: #989898;
  margin-top: 15px;
  margin-left: 500px;
  font-size: 30px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: .5px;
 
  text-align: center;
  cursor: pointer;
}

/* .heart-active{
  color: #C50707;
} */

.heart:hover{
  color: red;
  background-color: #f9f9f983;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-in-out;
}

.fav-delete{
  background-color: rgb(219, 218, 183);
  margin-left: 10px;
}

.one-fav{
  color: rgb(245, 245, 108);
  transition: .1s;
  cursor: pointer;
}

.one-fave:hover{
  color:#58540f
}

.footer{
  color: rgb(245, 245, 108);
  position: absolute;
  /* bottom: 10px; */
  width: 100%;
  height: 2.5rem;   
}
