/* body {
    margin: 0;
    font-family: monospace;
  } */
  
  body, html {
    height: 100%;
    margin-left: 90px;
    padding: 10px 10px;
    overflow-x: hidden;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎤</text></svg>") 16 0,auto;
  }

  .background {
    background-image: url("images/stage\ stool\ mic.jpeg");
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
  }
  .login-header {
    margin: 0 auto 40px;
    color: #fff;
    font: 20px Helvetica;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .login-form label {
      position: relative;
      display: block;
  }
  .login-form input {
        font: 18px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 20px;
        width: 300px;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        transition: all 0.2s ease-in-out;
  }  
  .login-form input::placeholder {
          transition: all 0.2s ease-in-out;
          color: #999;
          font: 18px Helvetica, Arial, sans-serif;
        }
      
      
  .login-form span {
        color: #35dc9b;
        font: 13px Helvetica, Arial, sans-serif;
        position: absolute;
        top: 0px;
        left: 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }
    
    
  .login-form input[type="submit"] {
      transition: all 0.2s ease-in-out;
      font: 18px Helvetica, Arial, sans-serif;
      border: none;
      background: #1aaf75;
      color: #fff;
      padding: 16px 40px;
      
  }
  
  .sidenav {
    height: 500px;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 2px;
    background-image: url("https://media.istockphoto.com/photos/black-brick-wall-picture-id923451472?k=6&m=923451472&s=612x612&w=0&h=XjeqoQSnpE9IGpIZcfWuNq4KIwfSQpgPdMcwuh5sxio=");
    size: contain;
    background-color: #97343468;
    overflow: scroll; /* Disable horizontal scroll */
    border-style: inset;
    border-color: #cbcb91;
  }

  .sidenav h1 {
    padding: 0px 15px 0px 9px;
    text-decoration: none;
    font-size: 35px;
    color: #cbcb91;
    display: block;
    text-decoration: underline;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
  }

  .header-img {
    width: 105%;
    height: 130px;
    background: url(images/logo.png);
    background-size: cover;
  }

  .main-header{
    /* text-align: center; */
    /* background-color: gray; */
    opacity: 0.7;
    padding: 0px 185px 6px 0px;
    width: 800px;
    margin: auto;
    /* border: 3px res solid; */
  }

  #header-text{
      color: #cbcb91;
      opacity: 1;
      font-size: 40px;
      /* font-family: serif; */
      
  }
  .all-comics {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
  }

  .all-comics-img{
    width: 200px;
    opacity: 0.8;
  }

  .logout-img{
    width: 165px;
    opacity: 0.7;
  }

  .genres-img{
    width: 135px;
    opacity: 0.8;
  }

  .all-comics img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .all-comics img:last-child {
    margin-right: 0;
  }

  .comic-container {
    position: relative;
  }

  .comic-image {
     height: 350px;
     position: relative;
  }

  section#subnav {
    padding: 20px;
    width: 90%;
    margin: 40px auto;

  }

  #subnav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
  }

  #subnav ul li {
    list-style: none;
    background:#641d1da8;
    color: #e7e7d0 !important;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 20px;
  }

  #subnav ul li.active {
    background: #03a9f4;
    color: #fff !important;
  }

#one-comic{
  width: 550px;
  margin: 40px auto;
  background-color: #641d1d83;
  color: #cbcb91;
  overflow: hidden;
  box-shadow: 15px 15px 0 0 #cbcb91a8;
}
.name{
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #6698e4a1;
  animation: fadein 1.2s;
}
  
.comic-image{
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    z-index: 1;
    animation: grow 0.6s;
}   
.bio{
  position: relative;
  margin: 20px;
  font-family: Merriweather Sans;
  animation: slidein 1.2s;
}

.header-buttons a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 26px;
  line-height: 25px;
  border-radius: 4px;
}
      
.heart{
  color: #989898;
  margin-top: 15px;
  margin-left: 500px;
  font-size: 30px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: .5px;
 
  text-align: center;
  cursor: pointer;
}

/* .heart-active{
  color: #C50707;
} */

.heart:hover{
  color: red;
  background-color: #f9f9f983;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-in-out;
}

.fav-delete{
  background-color: rgba(219, 218, 183, 0);
  /* display: inline-block; */
  position: absolute;
  right: 10px;
  font-size: 20px;
  border: 0.6em;
  border-radius: 60%;
  width: 1.5em;
  height: 1.5em;
  box-sizing: border-box;
  cursor: pointer;
}

.fav-delete:hover{
  background-color: #f9f9f9;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-in-out;
}

.review-delete-btn{
  color: #989898;
  background-color: rgba(255, 0, 0, 0);
  margin-top: 0px;
  margin-left: 0px;
  font-size: 20px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: .5px;
  text-align: center;
  cursor: pointer;
  border: 0.6em;
  box-sizing: border-box;

}

.review-delete-btn:hover{
  background-color: #f9f9f9;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-in-out;
}

.favorites-img{
  width: 175px;
  opacity: 0.8;
}

.one-fav{
  color: rgb(253, 253, 253);
  font-size: 18px;
  transition: .1s;
  cursor: pointer;
  padding-bottom: 20px;
  left: 10px;
}

.one-fave:hover{
  color:#58540f
}

.footer{
  color:#cbcb91;
  position: absolute;
  /* bottom: 10px; */
  width: 100%;
  height: 2.5rem;   
}

#fav-list{
  padding-inline-start: 10px;
  display: inline-block; 
  opacity: 0.9;
}

#review-list{
  font-size: 20px;
}
